<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Neil Prosser">
        <title>{{ page.title }} | ninjakoala.com</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/pygment.css">
        <link href="http://feeds2.feedburner.com/ninjakoala" rel="alternate" title="Atom" type="application/atom+xml"/>
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-28107510-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    </head>
    <body>
        <div id="top">
            <div id="title"><h1><a href="/">ninjakoala.com</a></h1></div>
            <div id="links"><a href="/">posts</a> - <a href="/about/">about</a> - <a href="/contact/">contact</a></div>
            <div class="clear"></div>
        </div>
        <div id="middle">
            {{ content }}
        </div>
        <div id="bottom">Needless to say, the views expressed here are entirely my own and nothing to do with my <a href="http://englishlanguageitutoring.com">employer</a>. You can have anything except the content.</div>
    </body>
</html>
